    <h2 mat-dialog-title>Upload</h2>
    <mat-divider></mat-divider>
    <mat-dialog-content [formGroup]="singleUploadForm">

        <!-- Modal body -->
        <mat-form-field>
            <!-- <label> File Type: </label>  -->
            <mat-select id="fileType" placeholder="File Type" formControlName="fileType">
                <mat-option value="Hire_Attrition">Hire/Attrition Data</mat-option>
                <mat-option value="Rollon_Rolloff">Rollon/Rolloff Data</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <label class="mandatTextLabelModel">Please upload .xlsx format only</label>


        <mat-form-field appearance="outline">
            <mat-label>Choose File</mat-label>
            <ngx-mat-file-input formControlName="filename" [accept]="'.xlsx'">
            </ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>

        <br>

        <label class="textLabelModel">Offering: </label>
        <ul>
            <form [formGroup]="singleUploadForm">
                <li class="offeringCheckBox">
                    <span class="textLabelModel">
                        <mat-checkbox placeholder="Cloud Engineering" id="opt1" formControlName="opt1"> </mat-checkbox>
                        <label>Cloud Engineering</label>
                    </span>
                    <span class="textLabelModel" style="margin-left: 29px;">
                        <mat-checkbox placeholder="Operations Transformation" id="opt2" formControlName="opt2">
                        </mat-checkbox>
                        <label>Operations Transformation</label>
                    </span>
                </li>
                <li class="offeringCheckBox">
                    <span class="textLabelModel">
                        <mat-checkbox placeholder="Core Industry Solutions" id="opt3" formControlName="opt3">
                        </mat-checkbox>
                        <label>Core Industry Solutions</label>
                    </span>
                    <span class="textLabelModel">
                        <mat-checkbox placeholder="Systems Engineering" id="opt4" formControlName="opt4">
                        </mat-checkbox>
                        <label>Systems Engineering</label>
                    </span>
                </li>
            </form>
        </ul>
        <mat-form-field>
            <!-- <label> Financial Year: </label>  -->
            <mat-select id="financialYear" placeholder="Financial Year" formControlName="financialYear">
                <mat-option value="">All</mat-option>
                <mat-option value="FY20">FY20</mat-option>
                <mat-option value="FY21">FY21</mat-option>
                <mat-option value="FY22">FY22</mat-option>
            </mat-select>

        </mat-form-field>

        <mat-form-field>
            <!-- <label> Periods: </label>  -->
            <mat-select id="periods" placeholder="Periods" formControlName="periods">
                <mat-option value="">All</mat-option>
                <mat-option value="P01">P01</mat-option>
                <mat-option value="P02">P02</mat-option>
                <mat-option value="P03">P03</mat-option>
                <mat-option value="P04">P04</mat-option>
                <mat-option value="P05">P05</mat-option>
                <mat-option value="P06">P06</mat-option>
                <mat-option value="P07">P07</mat-option>
                <mat-option value="P08">P08</mat-option>
                <mat-option value="P09">P09</mat-option>
                <mat-option value="P10">P10</mat-option>
                <mat-option value="P11">P11</mat-option>
                <mat-option value="P12">P12</mat-option>
                <mat-option value="P13">P13</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <div class="upload-response">
            <div id="singleFileUploadError"></div>
            <div id="singleFileUploadSuccess"></div>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <!-- <button  mat-raised-button (click)="login()"  color="primary">Login</button> -->
        <!-- <button mat-button (click)="onNoClick()">No</button> -->
        <button mat-raised-button type="submit" color="primary" (click)="showDiv()">Submit</button>
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <!-- <button mat-button [mat-dialog-close]="data.email" cdkFocusInitial>Yes</button> -->
    </mat-dialog-actions>