.mat-form-field{
    width:100%;
}
.mat-dialog-content{
    font-size: 13px;
}
.mandatTextLabelModel {
    font-size: 9px;
}
.textLabelModel {
    font-size: 13px;
}
ul, li{
    text-decoration: none;
    list-style: none;
    padding: 0px 10px;
}
li span{
    padding:5px 20px 5px 10px;
}
li span label{
    padding:0px 5px;
}
