// :host {
//     .mat-icon {
//         vertical-align: middle;
//         margin-right: 20px; 
//     }
// }
// .profile-card {
//     text-align: center;
//     padding: 0 20px 20px 20px;
//     img {
//         width: 100px;
//         height: 100px;
//         object-fit: cover;
//         border-radius: 50%;
//     }
// }
.mat-list-base .mat-list-item {
    font-size: 12px;
    width:100%;
    height:100%;
    padding: 8px 0px;
}
.mat-subheader {
    vertical-align: middle;
    text-align: left;
    margin-left:0px;
    padding:0px;
    width:100%;
}
.mat-list-item-content, .mat-list-text{
    width:100px;
}
.mat-drawer-inner-container{
    width:100px;
}