<mat-nav-list>
    <!-- <div class="profile-card">
        <div class="header">
            <h2>Animesh Sharma</h2>
            <h4>animesharma@deloitte.com</h4>
        </div>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </div> -->

    <!-- <mat-divider></mat-divider> -->

    <h2 matSubheader><a mat-list-item routerLinkActive="list-item-active " routerLink="/cloudEngineering">Cloud Engineering</a></h2>
    
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/cloudMigrationATDATA">Cloud Migration & ATADATA</a>
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/cloudManagedServices">Cloud Managed Services</a>
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/cloudInfraEngg">Cloud Infra & Eng</a>
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/cloudStrategyOpModel">Cloud Strategy & Op Model</a>
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/cloudIntegrationAPIs">Cloud Integration & APIs</a>
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/cloudDevelopmentIntegration">Cloud Development & Integration</a>

    <mat-divider></mat-divider>

    <h2 matSubheader><a mat-list-item routerLinkActive="list-item-active " routerLink="/opsTransformation">Operations Transformation</a></h2>
    
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/opsModelTransformation">Op Model Transformation</a>
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/opsModelTransformationHealth">Op Model Transformation - Health Care</a>
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/revenueCycleTransformation">Revenue Cycle Transformation</a>
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/techOperations">Tech Operations</a>

    <mat-divider></mat-divider>

    <h2 matSubheader><a mat-list-item routerLinkActive="list-item-active " routerLink="/coreIndustrySolutions">Core Industry Solutions</a></h2>
    
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/convergeConsulting">Converge Consulting</a>
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/digitalBankingSolutions">Digital Banking Solutions</a>
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/digitalCare">Digital CARE</a>
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/emergingIndustrySolutions">Emerging Industry & Solutions</a>
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/insuranceCST">Insurance CST</a>

    <mat-divider></mat-divider>

    <h2 matSubheader><a mat-list-item routerLinkActive="list-item-active " routerLink="/systemEngg">Systems Engineering</a></h2>
        
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/appArchitecture">Application Architecture</a>
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/appModernization">Application Modernization</a>
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/integrationServices">Integration Services</a>
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/serviceDeliveryOptimization">Service Delivery Optimization</a>
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/systemDesignsEngg">Systems Design & Engineering</a>

    <mat-divider></mat-divider>

</mat-nav-list>

