<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)=toggleSideBar()>
            <mat-icon >menu</mat-icon>
        </button>
        <span><img mat-card-image width="15%" height="20%" fxLayoutAlign="center" src="assets/deloitte.jpg" alt="Deloitte"></span>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px"> 
                <li>
                    <button mat-button [matMenuTriggerFor]="utilitiesMenu" #matMenuTrigger="matMenuTrigger" 
                    (mouseenter)="matMenuTrigger.openMenu()" >
                        <!-- <mat-icon>settings</mat-icon>&nbsp; -->
                        <span>Utilities</span>&nbsp;
                        <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                    <mat-menu #utilitiesMenu="matMenu"  [overlapTrigger]="false">
                        <div (mouseleave)="matMenuTrigger.closeMenu()">
                            <button id="uploadBtn" mat-menu-item (click)="openUploadDialog('uploadBtn')">
                                <mat-icon>file_upload</mat-icon>
                                <span>Upload File</span>
                            </button>
                            <button id="downloadBtn" mat-menu-item (click)="openDownloadReportDialog('downloadBtn')">
                                <mat-icon>file_download</mat-icon>
                                <span>Download Report</span>
                            </button>
                        </div>
                    </mat-menu>
                </li>
                <!-- <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li> -->
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Sign Out</span>
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
