ul li {
    list-style: none;
}
.mat-toolbar {
    background-color: black;
}
.mat-card-image {
    height:20%;
    width:15%;
    margin: 14px 10px 10px 20px;
}
.mat-card-image:first-child {
    margin:14px 10px 10px 20px;
}