p-table{
    width:100%;
    border-collapse: collapse;
    font-size: 8px;
    padding: 0px;
    text-align: left;
}

p-table tr td p-cellEditor input {
    width: 100%;
}

p-table tr th, p-table tr td{
    font-size: 10px;
}
p-table tr td{ 
    padding :1px 2px 1px 6px;
}

p-table tr td button {
    width: 20px;
    padding: 0px;
}

.p-sortIcon{
    color: #ffffff !important;
}
th {
    font-weight: bold;
}
.old-period {
    background-color: #92DA3A !important;//3392FF //009933
    color: #000000 !important;
    width:6%;
}

.future-period {
    background-color:#3392FF !important;//"92DA3A"  #3392FF;
    color: #000000 !important;
    width:6%;
}
.sticky-header{
    background-color:#009933 !important;//"92DA3A"  #3392FF;
    color: #ffffff !important;
    width:15%;
}