<p-table [columns]="columnHeaders" [value]="tableData" dataKey="category" editMode = "row" sortMode="multiple"  [paginator]="true" [rows]="10" autoLayout="true">
    <ng-template class="caption" pTemplate="caption">
        {{tableCaption}}
          </ng-template>
    <ng-template pTemplate="header" let-columns let-ci="columnIndex">
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngClass]="getBgColor(col.field)">
                <span #headerColSpan>{{col.header}}</span>
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th >
                <span>{{actionHeader}}</span>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="rowData">
            <td *ngFor="let col of columns">
                <p-cellEditor  *ngIf="col.isEditable">
                    <ng-template pTemplate="input">
                        <input  pInputText type="text" [(ngModel)]="rowData[col.field]" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData[col.field]}}
                    </ng-template>
                </p-cellEditor>
                <span *ngIf="!col.isEditable"> {{rowData[col.field]}}</span>
            </td>
            <td style="text-align:center" >
                    <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
                    <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
                    <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
