<!-- <p>posts works!</p> -->
<!-- <div >
    <app-dynamic-table [tableData]="tableData" [columnHeader]="columnHeader" [filterEnabled]="filterEnabled"></app-dynamic-table>
</div> -->
<div fxLayout="row" fxLayoutAlign= "space-between center" fxLayoutGap="10px" class="stats-cards">
    <mat-card fxFlex="33">
        <app-widget-card [data]="graph1YaxisData"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="33">
        <app-widget-card [data]="graph2YaxisData"></app-widget-card >
    </mat-card>
    <mat-card fxFlex="33">
        <app-widget-card [data]="graph3YaxisData"></app-widget-card>
    </mat-card>
</div>
<br>
<mat-divider></mat-divider>
<br>

<div>
    <app-dynamic-ng-table [tableCaption]="table1Caption" [isAction]="isAction1" [actionHeader]="actionHeader1" [columnHeaders]="columnHeaders" [tableData]="table1Data"></app-dynamic-ng-table>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div>
    <app-dynamic-col-edit-table [tableCaption]="table2Caption" [isAction]="isAction2" [actionHeader]="actionHeader2" [columnHeaders]="table2ColumnHeaders" [tableData]="table2Data"></app-dynamic-col-edit-table>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div>
    <app-dynamic-col-edit-table [tableCaption]="table3Caption" [isAction]="isAction3" [actionHeader]="actionHeader3" [columnHeaders]="table3ColumnHeaders" [tableData]="table3Data"></app-dynamic-col-edit-table>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div>
    <app-dynamic-col-edit-table [tableCaption]="table4Caption" [isAction]="isAction3" [actionHeader]="actionHeader3" [columnHeaders]="table4ColumnHeaders" [tableData]="table4Data"></app-dynamic-col-edit-table>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div>
    <app-dynamic-col-edit-table [tableCaption]="table5Caption" [isAction]="isAction3" [actionHeader]="actionHeader3" [columnHeaders]="table5ColumnHeaders" [tableData]="table5Data"></app-dynamic-col-edit-table>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div>
    <app-dynamic-col-edit-table [tableCaption]="table6Caption" [isAction]="isAction3" [actionHeader]="actionHeader3" [columnHeaders]="table6ColumnHeaders" [tableData]="table6Data"></app-dynamic-col-edit-table>
</div>

