<p-table [columns]="columnHeaders" [value]="tableData" sortMode="multiple"  [paginator]="true" [rows]="10" autoLayout="true">
    <ng-template class="caption" pTemplate="caption">
        {{tableCaption}}
          </ng-template>
    <ng-template pTemplate="header" let-columns let-ci="columnIndex">
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngClass]="getBgColor(col.field)">
                <span #headerColSpan>{{col.header}}</span>
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th >
                <span>{{actionHeader}}</span>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                <p-cellEditor  *ngIf="col.isEditable">
                    <ng-template pTemplate="input">
                        <input  pInputText type="text" [(ngModel)]="rowData[col.field]" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData[col.field]}}
                    </ng-template>
                </p-cellEditor>
                <span *ngIf="!col.isEditable"> {{rowData[col.field]}}</span>
            </td>
            <td pEditableColumn style="text-align:center" >
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input  pInputText type="text" >
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
    </ng-template>
</p-table>