<div #tableContainer class="mat-elevation-z8">
  <mat-form-field *ngIf="filterEnabled">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container [matColumnDef]="tableData" *ngFor="let tableData of objectKeys(columnHeader)">
      <th mat-header-cell *matHeaderCellDef [style.background-color]="'#'+getBgColor(columnHeader[tableData])"
        [style.width]="getColWidth(columnHeader[tableData])" mat-sort-header> {{columnHeader[tableData]}} </th>
      <td mat-cell *matCellDef="let element"> {{element[tableData] }}
        <a *ngIf="isButton(columnHeader[tableData])" (click)="openDialog('Update',element)"><i class="material-icons">
            edit
          </i></a>
        &nbsp;
        <a *ngIf="isButton(columnHeader[tableData])" (click)="save('Update',element)"><i class="material-icons">
            save
          </i></a>
      </td>
      <!-- <td mat-cell *matCellDef="let user; let i = index;">
        <div class="form-group"
             [class.text-danger]="tableData.invalid">
        <input required type="text" #userName="ngModel"   
               class="form-control"
               name="tableData-{{i}}"  
               [(ngModel)]="user.userName"
               [disabled]="!(user.edited || user.id ==  
undefined)">
                 <i class="help-block"  
                    *ngIf="userName.invalid">
                     please enter name
                 </i>
             </div>
         </td mat-cell> -->
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="objectKeys(columnHeader)"></tr>
    <tr mat-row *matRowDef="let row; columns: objectKeys(columnHeader);"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>

</div>