#tableContainer{
  width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  th {
    font-weight: bold;
  }

  th.mat-header-cell { 
    padding: 2px 2px;
    border: 1px solid lightgray;
  }

  td.mat-cell { 
    padding: 2px 2px;
    border: 1px solid lightgray;
  }