    <!-- Modal body -->
    <h2 mat-dialog-title>Download Report</h2>
    <mat-divider></mat-divider>
    <br>
    <mat-dialog-content [formGroup]="downloadCSV" action="downloadReport">
        <!-- <form id="downloadCSV" name="downloadCSV" action="downloadReport"> -->
        <mat-form-field id="offeringsDwldDiv">
            <!-- <label>Offering: </label> -->
            <mat-select id="offeringsDwnld" name="offering" placeholder="Offering" formControlName="offering">
                <mat-option value="Cloud Engineering">Cloud Engineering</mat-option>
                <mat-option value="Operations Transformation">Operations
                    Transformation</mat-option>
                <mat-option value="Core Industry Solutions">Core Industry
                    Solutions</mat-option>
                <mat-option value="Systems Engineering">Systems
                    Engineering</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-dialog-content>

    <!-- Modal footer -->
    <mat-dialog-actions align="end">
        <!-- <button  mat-raised-button (click)="login()"  color="primary">Login</button> -->
        <!-- <button mat-button (click)="onNoClick()">No</button> -->
        <button mat-raised-button type="submit" color="primary" (click)="showDiv()">Download</button>
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <!-- <button mat-button [mat-dialog-close]="data.email" cdkFocusInitial>Yes</button> -->
    </mat-dialog-actions>