<!-- <highcharts-chart 
  [Highcharts]="Highcharts"
  [options]="chartOptions"
  style="width: 100%; height: 350px; display: block;"
></highcharts-chart> -->
<div>
  <div style="display:block;width: 100%; height: 100%;">
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      [colors]="barChartColors"></canvas>
  </div>
</div>